<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/ThelDoctor/CrystalAI" class="btn" target="_blank">View on GitHub</a>
  <a href="https://github.com/ThelDoctor/CrystalAI/archive/v0.7.2.zip" class="btn">Download .zip</a>
  <a href="https://github.com/ThelDoctor/CrystalAI/archive/v0.7.2.tar.gz" class="btn">Download .tar.gz</a>
  <a href="http://www.bismur.co.uk/forums/forum-11.html" class="btn" target="_blank">Visit the Crystal AI Forum</a>
</section>